<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag comment.user.avatar.url(:small), class: 'media-object' %>
    </a>
  </div>

  <div class="media-body">
    <% if user_signed_in? && policy(comment).destroy? %>
      <%= link_to 'delete', comment_path(comment.id), method: :delete, data: { confirm: 'delete this comment?' }, class: 'pull-right' %>
    <% end %>
    <h4 class="media-heading"><%= comment.user.username %></h4>
    <%= comment.body %>
  </div>
</div>
