<h4>Последние истории</h4>
<ul class="list-unstyled">
  <% @histories.each do |history| %>
    <li><%= link_to "#{history.name}, #{history.email}", history_path(history.id) %></li>
  <% end %>
</ul>
<hr>
<%= link_to 'Посмотреть все истории', histories_path %>
