<ul>
  <%= current_user.username %>
  <% if policy(Post).create? %>
    <li><%= link_to 'create new post', new_post_path %> </li>
  <% end %>
  <% if policy(Category).create? %>
    <li><%= link_to 'create new category', new_category_path %> </li>
  <% end %>
</ul>
