<% content_for :title, "Ананас | Расскажите историю" %>
<h1>Расскажите свою историю</h1>
<% if user_signed_in? %>
  <%= render 'form' %>
<% else %>
  <div class="alert alert-info">
    <a href="/users/sign_in">Войдите</a> или <a href="/users/sign_up">Зарегистрируйтесь</a>, чтобы поведать нам свою историю.
  </div>
<% end %>
