<div class="panel panel-default">
  <div class="panel-heading">Панель младшего модератора</div>
  <div class="panel-body">
    <ul class='list-unstyled'>
      <li><%= link_to 'Создать новый пост', new_post_path %> </li>
    </ul>
    <%= render 'histories' %>
  </div>
</div>
