/*
 *= require_self
 */

@import 'variables';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'footer';
@import 'post';
@import 'post-search';
@import 'history';
@import 'history-preview';
@import 'navbar-brand';
@import 'ananas-nav';
@import 'best-posts-panel';
@import 'social-links';
@import 'icon-box';
@import 'devise-form';

body {
  background-image: image-url('left_fon.png'), image-url('right_fon.png');
  background-position: left top, right top;
  background-repeat: repeat-y;

}

.main-container {
  background-color: #fff;
}
