.post__avatar {
  margin-top: 20px;
}


.post__preview {
  img {
    max-width: 100%;
  }
}
.post__main {
  img {
    max-width: 100%;
  }
}

.posts-similar {
  img {
    max-width: 100%;
  }
  display: flex;
  flex-wrap: wrap;
}
