.post__avatar {
  margin-top: 20px;
}

.post__preview {
  img {
    max-width: 100%;
  }
}

.post__read-this {
  &:hover {
    color: $green;
    text-decoration: none;
  }
  font-size: 1.2em;
  color: $black;
}

.post__main {
  img {
    max-width: 100%;
  }
}

.posts-similar {
  img {
    max-width: 100%;
  }
  display: flex;
  flex-wrap: wrap;
}
