$navbar-default-bg: #a2dc4a;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-color: #010000;
$navbar-default-link-color: #010000;
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 15%);

$nav-link-hover-bg: none;

$input-border-focus: #ffcd00;

$hr-border: #a2dc4a;
