<h1>newest posts!</h1>
<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-3">
      <%= post.user.email %>
    </div>
    <div class="col-md-9">
      <h3>
        <%= post.title %>
      </h3>
      <p>
        <%= post.sinopsis %>
      </p>
      <%= link_to 'read this post ->', '#', class: 'pull-right' %>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>
<% end %>

