<% content_for :title, "Ананас | Новые статьи" %>
<div class="row">
  <div class="col-md-offset-3 col-md-9">
  </div>
</div>
<% @posts.each do |post| %>
  <%= render partial: 'posts/preview', locals: { post: post } %>
<% end %>

<%= render 'pager' %>
