<% content_for :title, "Ананас | #{@category.title}" %>
<div class="row">
  <div class="col-md-offset-3 col-md-9">
    <h1 class='text-center'>
      <%= @category.title %>
      <% if user_signed_in? && policy(@category).update? %>
        <span> <%= render 'crud_links' %> </span>
      <% end %>
    </h1>
  </div>
</div>
<% @posts.each do |post| %>
  <%= render partial: 'posts/preview', locals: { post: post } %>
<% end %>

<%= render 'pager' %>
