<p>Привет <%= @resource.email %>!</p>

<p>Что бы изменить пароль пройдите по ссылке.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали это письмо, просто проигнорируйте.</p>
