<h1 class='text-center'>Ананас</h1>
<p>
  Ананас - журнал для любознательных людей. Это журнал для всех, кто хочет расширить свой кругозор и познать что-то новое.
</p>
<p>
  В нашем журнале вы найдете много интересных статей на самые различные темы: музыка, самомотивация, технологии и прочее.
</p>
<p>
  Для вас ежедневно трудится большой штат специалистов в различных областях.
</p>
<p>
  Взгляни на мир с новой стороны!
</p>
<p> <b>У вас есть, что сказать миру? Хотите поделиться историей?</b> </p>
<p> <b>Воспользуйтесь нашим сервисом  и расскажите свою историю миру.</b> </p>
