        <div class="best-posts-panel panel panel-default">
          <div class="panel-body">
              <h3 class='text-center'>Рейтинг авторов</h3>
              <%= react_component "Raiting", url: best_authors_url %>
          </div>
        </div>
