<% if Rails.env.production? %>

<div class="container">
  
<div class="container">     
  <div class="row">
    <div class="text-center">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- main -->
  <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-5803232740917441"
    data-ad-slot="1406239618"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>     
  </div>          
</div>
  
<% end %>
